<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<!-- 组件扫描器 -->

	<context:component-scan base-package="com.ry.DI07"/> 
	
	<!-- xml的优先级 要高于 注解的 -->
	
	
	<!-- 注册student -->
		<bean id="myStudent" class="com.ry.DI07.Student" >
			<property name="name"  value="阮洋"></property>
			<property name="age" value="23"></property>
			<!-- 对象属性注入 -->
			<property name="school" ref="mySchool"></property>
		</bean>
	
	
	<!-- 注册school -->
		<bean id="mySchool" class="com.ry.DI07.School">
			<property name="name"  value="清华大学"></property>
		</bean>
	
</beans>