<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

		<!-- 注册student 内部bean -->
		<bean id="myStudent" class="com.ry.DI10.Student" >
			<property name="name"  value="阮洋"></property>
			<property name="age" value="23"></property>
			<!-- 对象属性注入 -->
			<property name="school" >
				<bean class="com.ry.DI10.School">
					<property name="name" value="清华大学"></property>
				</bean>
			</property>
		</bean>
		
		
		
		
</beans>