<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
		<!--命名空间注入加了这个的 ：xmlns:c="http://www.springframework.org/schema/c""  -->
	
		<!-- 注册student -->
		<bean id="myStudent" class="com.ry.DI04.Student"    c:name="阮洋" c:age="23"   c:school-ref="mySchool"  />
			
		
		<!-- 注册school -->
		<bean id="mySchool" class="com.ry.DI04.School" >
			<property name="name" value="清华大学"></property>
		</bean>
		
		
</beans>