<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

		<!-- 注册service
			someServiceImpl myService =new someServiceImpl()
		 -->    
		<bean id="myService"  class="com.ry.service07.SomeServiceImpl" 
			init-method="setUp" destroy-method="tearDown"
 		>
 			<property name="adao"  value="aaa"></property>
 			<property name="bdao" value="bbb"></property>
 		</bean>
 		
 		
 		<!--Step5:bean后处理器  -->
 		<bean class="com.ry.service07.MyBeanPostProcessor" />
</beans>